/README.pdf
/README.tex~
/UpsClient/build.xml
/UpsClient/manifest.mf
/UpsClient/nbproject/build-impl.xml
/UpsClient/nbproject/genfiles.properties
/UpsClient/nbproject/private/private.properties
/UpsClient/nbproject/private/private.xml
/UpsClient/nbproject/project.properties
/UpsClient/nbproject/project.xml
/UpsClient/src/MainWindow.form
/UpsClient/src/MainWindow.java
/upsserver/.dep.inc
/upsserver/Makefile
/upsserver/nbproject/configurations.xml
/upsserver/nbproject/Makefile-Debug.mk
/upsserver/nbproject/Makefile-impl.mk
/upsserver/nbproject/Makefile-Release.mk
/upsserver/nbproject/Makefile-variables.mk
/upsserver/nbproject/Package-Debug.bash
/upsserver/nbproject/Package-Release.bash
/upsserver/nbproject/private/configurations.xml
/upsserver/nbproject/private/Makefile-variables.mk
/upsserver/nbproject/private/private.xml
/upsserver/nbproject/project.xml
/zculogo.ps
/.2.prednaska.swp
